.purposeful-wrapper{
    position: fixed;
    width: -webkit-fill-available;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
    
    .purposeful-banner{
        margin-left: auto;
        margin-right: auto;
        width: -webkit-fill-available;
        height: 6.25em;
        pointer-events: none;
        %element {
            min-width: 3em;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.25em;
            border-radius: 0.175em;
            background-color: white;
            font-family: 'Roboto', sans-serif;
            color: #1a0dab;
            text-align: center;
        }
        .timer-container{
            display: flex;
            .timer{
                font-size: 1.5em;
                width: 17%;
                @extend %element;
            }
        }
        .purpose-container{
            display: flex;
            .purpose{
                font-size: 1.25em;
                @extend %element;
                display: inline-block;
                padding: 0 5px 0 5px;
                max-width: 50%;
            }
        }
    }
}
